nvim/.config/nvim/plugged/*
.vim/
session.vim
Session.vim
tags
*.un~
tmux/.tmux/resurrect/*
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks
vifm/.config/vifm/vifminfo.json
